# Anthropic API Key
ANTHROPIC_API_KEY=sk-◯◯

# LangSmith Configuration
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=lsv2_◯◯
LANGSMITH_PROJECT=Athena

# Brave API Key
BRAVE_API_KEY=BS◯◯